version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      actions:
        patterns:
          - '*'
    commit-message:
      prefix: '⬆️ action'
    labels:
      - 'github-action :robot:'

  - package-ecosystem: 'npm'
    directory: '/'
    schedule:
      interval: 'monthly'
    groups:
      npm-production:
        patterns:
          - '*'
        dependency-type: 'production'
      npm-development:
        patterns:
          - '*'
        dependency-type: 'development'
    commit-message:
      prefix: '⬆️ npm'
    labels:
      - 'dependency :robot:'
